body{
    background-color:#eff3fc;
  }
  
    #signup_container{
     width: 80%;
     height: auto;
     display: grid;
     grid-template-columns: repeat(2,1fr);
     grid-template-rows: 600px;
     margin: auto;
     margin-top: 100px;
     border-radius: 20px;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    #signup_container>div:nth-child(2){
        
        border-radius: 0px 20px 20px 0px;
    }
    #signup_container>div:nth-child(1){
        
        border-radius: 20px 0px 0px 20px;
    }
    #signup_img{
        text-align: center;
        background-color: #b1c9ef;
    }
    #signup_img>img{
        margin-top: 80px;
        width: 80%;
        height: 60%;
        border-radius: 25px;
    }
    #signup_img>h1{
        font-size: 40px;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
    #signup_form{
        text-align: left;
        padding: 50px;
        background-color: white;
    }
    #signup_form>input{
        width: 100%;
        height: 40px;
        border-radius: 5px;
        padding-left: 10px;
    }
    #fp{
        display: flex;
        justify-content: space-between;
    }
    #fp>p{
        color: #03a9f4;
    }
    #fp>p:hover{
        cursor: pointer;
        text-decoration: underline #03a9f4;
    }
    #signup_btn{
        width: 100%;
        padding: 15px;
        font-size: 20px;
        background-color: #fe707a;
        color: white;
        border: 0px;
        border-radius: 10px;
    }
    #signup_btn:hover{
        cursor: pointer;
        background-color: white;
        color: #0c0032;
        border: 1px solid #0c0032;
    }
    #continue_div{
        width: 100%;
        text-align: center;
    }
    #continue_div>h3:nth-child(2){
        margin-top: -15px;
        height: auto;
    }
    #auth{
        width: 50%;
        height: 40px;
        display: flex;
        justify-content: space-around;
        margin: auto;
    }
    #auth>img{
        width: 20px;
        background-color: white;
        border: 2px solid lightgray;
        padding: 7px;
        border-radius: 5px;
    }
    #auth>img:hover{
        cursor: pointer;
        background-color: lightblue;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    @media all and (min-width:380px) and (max-width:700px){
        body{
            background-color: #b1c9ef;
        }
        #signup_img{
            display: none;
        }
        #signup_container>div:nth-child(1){
        
        border-radius: 20px 20px 20px 20px;
    }
        #signup_container{
            grid-template-columns: repeat(1,1fr);
        }
        #nav{
        width: 80%;
    }
    #nav>div>h1{
        font-size: 18px;
    }
    #nav>img{
        height: 20px;
    }
    }
    @media all and (min-width:700px) and (max-width: 1100px){
        #nav{
        width: 85%;
    }
    #nav>div>h1{
        font-size: 25px;
    }
    }